.main-wrapper {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
}

.navb {
  padding-left: 1%;
  padding-right: 1%;
}

.header__login {
  float: right;
  color: #434242;
  font-weight: bold;
  font-size: 17px;
}

.header__logo:hover {
  color: #434242
}

.header__logo{
  font-weight: bold;
  font-size: 30px;
  font-weight: bold;
}
/* fonts */

.prim-font {
  font-family: Happy Monkey;
}

.white-font {
  color: white;
}

.no-deco:hover {
  color: white;
}

.form__title {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  padding: 0 5%;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.home-link {
  width: 60px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.form {
  height: 80%;
}

@media screen and (min-width: 768px) {
  .form__title {
    height: 30%;
    margin-bottom: 2%;
  }

  .signup-form {
    height: 70%;
  }

  .form-container {
    height: 100%;
  }

  .form {
    height: 100%;
    width: 60%;
  }
}

@media screen and (min-width: 1440px) {
  .form__title {
    margin-bottom: 2%;
  }

  .form {
    width: 40%;
    margin-bottom: 2%;
  }
}